@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
*
{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: Karla, DM Serif Display;

}

header
{
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
}

header a
{
    margin: 0 0 0 20px;
    color: white;
    text-decoration: none;
}

header a:hover
{
    color: yellow;
    text-decoration: underline;
}

header i
{
    border-style: none;
}

#search
{
    border: 1px solid;
    padding: 6px;
    text-align: center;
    border-radius: 20px;
}

#search:focus
{
    outline: none;
}

.container
{
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: rgb(37, 37, 37);
}

.container h1{
    text-align: center;
}

.container h1
{
    
}

.one
{
    border: 1px solid;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.one:hover
{
    transform: scale(1.05);
}

i
{
    margin: 0 0 12px 0;
    padding: 3px;
    border: 1px solid;
}

.yellow{
    color:yellow;
}

.img
{
    width: 100%;
    height: 280px;
    border-bottom-style: solid;
    border-width: 1px;
}

.more-info
{
    display: none;
    justify-content: center;
    width: 80%;
    border: 1px solid;
    margin: 2% 0 0 0;
}

.part1
{
    width: 40%;
    color: white;

}

.part1 img
{
    width: 100%;
}

.buttons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.part1 a
{
    display: inline-block;
    padding: 10px;
    width: 49%;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

.part2
{
    border: 1px solid;
    width: 60%;
    color: white;
}

.part2 h4
{
    display: inline-block;
    margin: 0 5px 0 0;
}

.part2 ul
{
    margin: 0 0 0 5px;
    list-style: none;
}

.part2 li
{
    margin: 5px 0 5px 0;

}

@media (max-width: 768px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
    .img{
        height: 240px;
    }

    .more-info{
        width: 100%;
    }


}

@media (max-width: 912px){
    .container{
        grid-template-columns: repeat(4, 1fr);
    }

        .one:hover
    {
        transform: unset;
    }
}

@media (max-width: 641px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 560px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .img{
        height: 240px;
    }

    .more-info{
        flex-direction: column;
    }
    
    .part1{
        width: 100%;
    }

    .part2{
        width: 100%;
    }

}
